@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* Navigation */
.nav {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.nav__img {
  width: 145px;
  height: auto;
  display: block;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.nav__btns {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__btns__register {
  background-color: #ff4d30;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(255, 77, 48, 0.35);
}

/* Hero */
